<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lab 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="collapse navbar-collapse" id="navbarText">
            <br><br>
            {% if user.is_authenticated %}

             <a class="text-white"> You have logged as {{ user.username }}. </a>

            {% if user.is_authenticated %}
            <a class="nav-link text-white" aria-current="page" href="{% url 'reservations_for_user' %}">
                Show reservations  </a>
            {% endif %}

            <a class="dropdown-item text-white" href="{% url 'logout' %}">Logout</a></br>

            {% else %}
            <a href="{% url 'user_login' %}" class="mr-2">
                <button class="btn btn-outline-warning btn-sm text-warning" type="submit">Login</button>
            </a>
            <a href="{% url 'register' %}">
                <button class="btn btn-outline-warning btn-sm text-warning" type="submit">Register</button>
            </a>
            {% endif %}
        </div>
</nav>

<div class="container py-3">
    {% block content %} {% endblock %}
</div>
</body>
</html>